.navbar {
  background-color: #521751;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99999;
  padding: 0 2rem;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.navbar__small {
  display: none;
}

.navbar__logo {
  height: 80%;
  padding: .5rem .5rem .5rem 0rem;
  box-sizing: border-box;
}

.navbar__logo--img {
  position: relative;
  height: 100%;
}

.navbar__links {
  color: white;
  height: 100%;
  margin-left: auto;
}

.navbar__links ul {
  display: flex;
  list-style: none;
  margin-top: 0;
  height: 100%;
}

.navbar__links li {
  height: 100%;
}

.navbar__links a {
  font-weight: bold;
  height: 97%;
  display: flex;
  align-items: center;
  margin-left: 4rem;
  font-size: .9rem;
}

.navbar__links a:hover {
  border-bottom: 2px white solid;
}

@media only screen and (max-width: 768px) {
  .navbar__small {
    display: block;
  }

  .navbar__links {
    display: none;
  }

  .navbar__small {
    margin-left: auto;
  }
}
