.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #521751;
  height: 84px;
  z-index: 100;
}

.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar_items a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.toolbar_items a:hover,
.toolbar_items a:active {
  color: #fa923f;
}

.toolbar_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.toolbar_items li {
  padding: 0.5rem;
}

.toolbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.toolbar_logo {
  margin-left: 1.5rem;
}

.spacer {
  flex: 1;
}

@media (max-width: 768px) {
  .toolbar_items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar_toggle_button {
    display: none;
  }
  .toolbar_logo {
    margin: none;
  }
}
