.ClassListingContainer {
  display: flex;
}

.listings__container {
  width: 51%;
  height: 40rem;
}

.ClassSearchBar {
  width: 97%;
  margin: 0rem .5rem;
  padding: .25rem .5rem;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  border: none;
  border: 1px rgba(16, 40, 78, .9) solid;
  border-radius: 4px;
  font-family: sans-serif;
}

.class_listing_div {
  padding: .25rem .5rem;
  margin-top: .5rem;
  width: 99%;
  box-sizing: border-box;
  height: 90%;
  overflow-y: scroll;
}

#mapDiv {
  width: 49%;
  margin-top: -3rem;
}

#mapDiv div {
  position: relative;
  width: 100%;
  height: 100%;
}

.mapDiv {
  border: 1px blue solid;
}

.map {
  width: 49%;
}
