.ClassListingContainer {
  border: 1px black solid;
  height: 85%;
  width: 70%;
  top: 10%;
  left: 15%;
  text-align: center;
  position: absolute;
  display: flex;
  white-space: normal;
  overflow:overlay;
  justify-content: center;
}

.ClassContainerHeader{
  position: relative;
  width: 100%;
  height: 5%;
}

.ClassSearchBar {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: 4%;
  width: 30%;
}

.CardContainer{
  position: absolute;
  width: 100%;
  height: 90%;
  margin-top: 7%;
  white-space: normal;
  overflow:overlay
}


.ClassCard{
  display: inline-block;
  border: 1px black solid;
  height: 25%;
  width: 25%;
  margin: 2%;
  text-align: center;
}

.CardInfo{
  border: 1px black solid;
  display: inline-block;
  width: 80%;
  font-size: .8em;

}

.ViewControlTab {
  position: absolute;
  right: 0;
  display: flex;
  padding: 1%;
}
.ListView {
  margin: 1%;
  padding: 3%;
  border: 1px black solid;
  background-color: grey;
  font-weight: bold;
}
.MapView {
  margin: 1%;
  padding: 3%;
  border: 1px black solid;
}
