.filter-bar {
  width: 50%;
  height: 3rem;
  display: flex;
  margin: 1rem 0rem 0rem 1rem;
}

.filter-div {
  width: 11rem;
  margin-right: .5rem;
}

.filter-div:last-child {
  margin-right: 0;
}

.filter-bar__header {
  padding: .25rem;
  padding-left: .5rem;
  background: rgba(16, 40, 78, .9);
  color: white;
  width: 11rem;
}

.filter-bar__header::after {
  content: "v";
  white-space: nowrap;
  position: relative;
  float: right;
  font-size: 1rem;
  margin-right: 1rem;
  color: white;
  display: inline-block;
}

.filter-bar__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: .5rem;
  border: 1px solid rgba(16, 40, 78, .9);
  border-top: 0;
  position: relative;
  z-index: 5;
  background: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: none;
}

.locationListing {
  display: flex;
  align-items: center;
}

.locationListing:first-child {
  margin-top: .5rem;
}

.priceListing {
  display: flex;
  align-items: center;
}

.priceListing:first-child {
  margin-top: .5rem;
}

.gymListing {
  display: flex;
  align-items: center;
}

.gymListing:first-child {
  margin-top: .5rem;
}

.typeListing {
  display: flex;
  align-items: center;
}

.typeListing:first-child {
  margin-top: .5rem;
}

.checkbox {
  float: right;
  margin-right: 1rem;
  margin-left: auto;
}
