.ShopContainer {
  text-align: center;
}
.ShopContainerHeader {
  display: inline-block;
}

.FilterBar {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 100px;
  height: 85%;
  width: 220px;
  text-align: left;
  overflow: overlay;
}
.FilterBar form {
}

.LocationPreferenceDiv {
  border: 1px pink solid;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 1vh;
  white-space: normal;
  display: flex;
}
.PricePreferenceDiv {
  border: 1px pink solid;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 1vh;
  white-space: normal;
  display: flex;
  overflow: overlay;
}
.TypePreferenceDiv {
  border: 1px pink solid;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 1vh;
  white-space: normal;
  display: flex;
  overflow: overlay;
}

.GymPreferenceDiv {
  border: 1px pink solid;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 1vh;
  white-space: normal;
  display: flex;
  overflow: overlay;
}

.gymListing {
  float: left;
  position: relative;
  flex-direction: column;
  width: 95%;
}

.locationListing {
  float: left;
  position: relative;
  flex-direction: column;
  width: 95%;
}

.priceListing {
  float: left;
  position: relative;
  flex-direction: column;
  width: 95%;
}

.typeListing {
  float: left;
  position: relative;
  flex-direction: column;
  width: 95%;
}
