body {
  background: turquoise;
}
.Div1 {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 84px;
  margin-left: 5%;
  height: 100%;
  width: 40%;
  background: white;
  background: gold;
  transform: skewX(-4deg);
}
.Div2 {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 84px;
  margin-right: 5%;
  height: 100%;
  width: 50%;
  background: grey;
  z-index: -10;
  overflow: hidden;
  transform: skewX(-4deg);
}
.ImageDiv {
  display: inline-block;
  background-image: url("../resources/images/fitness-5.jpg");
  height: 100%;
  width: 100%;
  transform: skewX(4deg);
}

.ExploreClassesLink {
  color: white;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.ExploreClassesDiv {
  width: 500px;
  height: 75px;
  background-color: black;
  margin: auto;
  text-align: center;
  background-color: black;
  margin: auto;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 66%;
  border: 3px solid white;
  transform: skewX(-4deg);
}

.SolganDiv {
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 1;
  text-shadow: 2px 2px white;
  margin-top: 25%;
  margin-left: 10%;
}

.SignUpDiv {
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 3rem;
  border: 0px 2px white;
}

.SignUpLinkDiv {
  width: 500px;
  height: 75px;
  background-color: black;
  margin: auto;
  text-align: center;
  background-color: black;
  margin: auto;
  opacity: 0.85;
  border-radius: 10px;
  font-size: 1em;
  margin-top: 50%;
  border: 3px solid white;
}

.SignUpLink {
  font-size: 1em;
  color: white;
  text-shadow: 0 0 black;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 0;
}
