.home {
  width: 100%;
  height: 100vh;
  padding-top: 4rem;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.home__header {
  border: 1px black solid;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.home__left--container {
  width: 40%;
  height: 100%;
  position: relative;
}

/* .home__left--container::after {
  content: "";
  background: url("../resources/images/fitness-5.jpg");
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.home__logo {
  color: #521751;
  font-size: 2.5rem;
  position: relative;
  z-index: 1;
  text-align: center;
  margin: auto;
  margin-top: 7rem;
  font-weight: bold;
  min-width: 20rem;
  line-height: 3.5rem;
}

.home__right--container {
  width: 60%;
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
}

.home__right--image-column-1 {
  width: 40%;
  margin: -2rem .5rem 0rem .5rem;
}

@keyframes fadein5 {
  from { opacity: 0; }
  to { opacity: .5; }
}

@-moz-keyframes fadein5 {
  from { opacity: 0; }
  to { opacity: .5; }
}

@-webkit-keyframes fadein5 {
  from { opacity: 0; }
  to { opacity: .5; }
}

@-ms-keyframes fadein5 {
  from { opacity: 0; }
  to { opacity: .5; }
}

@-o-keyframes fadein5 {
  from { opacity: 0; }
  to { opacity: .5; }
}

@keyframes fadein7 {
  from { opacity: 0; }
  to { opacity: .7; }
}

@-moz-keyframes fadein7 {
  from { opacity: 0; }
  to { opacity: .7; }
}

@-webkit-keyframes fadein7 {
  from { opacity: 0; }
  to { opacity: .7; }
}

@-ms-keyframes fadein7 {
  from { opacity: 0; }
  to { opacity: .7; }
}

@-o-keyframes fadein7 {
  from { opacity: 0; }
  to { opacity: .7; }
}

@keyframes fadein9 {
  from { opacity: 0; }
  to { opacity: .9; }
}

@-moz-keyframes fadein9 {
  from { opacity: 0; }
  to { opacity: .9; }
}

@-webkit-keyframes fadein9 {
  from { opacity: 0; }
  to { opacity: .9; }
}

@-ms-keyframes fadein9 {
  from { opacity: 0; }
  to { opacity: .9; }
}

@-o-keyframes fadein9 {
  from { opacity: 0; }
  to { opacity: .9; }
}

  .home__right--image-column-1__img-1 {
    width: 100%;
    margin-bottom: .25rem;
    -webkit-animation: fadein7 2.5s forwards;
    -moz-animation: fadein7 2.5s forwards;
    -ms-animation: fadein7 2.5s forwards;
    -o-animation: fadein7 2.5s forwards;
    animation: fadein7 2.5s forwards;
    opacity: 0;
    animation-delay: 1s;
  }

  .home__right--image-column-1__img-2 {
    width: 100%;
    margin-bottom: .25rem;
    -webkit-animation: fadein9 2.5s forwards;
    -moz-animation: fadein9 2.5s forwards;
    -ms-animation: fadein9 2.5s forwards;
    -o-animation: fadein9 2.5s forwards;
    animation: fadein9 2.5s forwards;
  }

  .home__right--image-column-1__img-3 {
    width: 100%;
    margin-bottom: .25rem;
    -webkit-animation: fadein7 2.5s forwards;
    -moz-animation: fadein7 2.5s forwards;
    -ms-animation: fadein7 2.5s forwards;
    -o-animation: fadein7 2.5s forwards;
    animation: fadein7 2.5s forwards;
    opacity: 0;
    animation-delay: .5s;
  }

  .home__right--image-column-1__img-4 {
    width: 100%;
    margin-bottom: .25rem;
    -webkit-animation: fadein5 2.5s forwards;
    -moz-animation: fadein5 2.5s forwards;
    -ms-animation: fadein5 2.5s forwards;
    -o-animation: fadein5 2.5s forwards;
    animation: fadein5 2.5s forwards;
  }

  .home__right--image-column-1__img-5 {
    width: 100%;
    margin-bottom: .25rem;
    -webkit-animation: fadein9 2.5s forwards;
    -moz-animation: fadein9 2.5s forwards;
    -ms-animation: fadein9 2.5s forwards;
    -o-animation: fadein9 2.5s forwards;
    animation: fadein9 2.5s forwards;
    opacity: 0;
    animation-delay: 1s;
  }

.home__right--image-column-2 {
  width: 57%;
  margin: -.5rem 0rem .5rem 0rem;
}

  .home__right--image-column-2__img-1 {
    width: 100%;
    margin-bottom: .25rem;
    -webkit-animation: fadein9 2.5s forwards;
    -moz-animation: fadein9 2.5s forwards;
    -ms-animation: fadein9 2.5s forwards;
    -o-animation: fadein9 2.5s forwards;
    animation: fadein9 2.5s forwards;
    opacity: 0;
    animation-delay: .5s;
  }

  .home__right--image-column-2__img-2 {
    width: 100%;
    margin-bottom: .25rem;
    -webkit-animation: fadein9 2.5s forwards;
    -moz-animation: fadein9 2.5s forwards;
    -ms-animation: fadein9 2.5s forwards;
    -o-animation: fadein9 2.5s forwards;
    animation: fadein9 2.5s forwards;
    opacity: 0;
    animation-delay: 1s;
  }

  .home__right--image-column-2__img-3 {
    width: 100%;
    margin-bottom: .25rem;
    -webkit-animation: fadein5 2.5s forwards;
    -moz-animation: fadein5 2.5s forwards;
    -ms-animation: fadein5 2.5s forwards;
    -o-animation: fadein5 2.5s forwards;
    animation: fadein5 2.5s forwards;
  }

  .home__right--image-column-2__img-4 {
    width: 100%;
    margin-bottom: .25rem;
    -webkit-animation: fadein7 2.5s forwards;
    -moz-animation: fadein7 2.5s forwards;
    -ms-animation: fadein7 2.5s forwards;
    -o-animation: fadein7 2.5s forwards;
    animation: fadein7 2.5s forwards;
    opacity: 0;
    animation-delay: .5s;
  }
