.home {
  width: 100%;
  height: 100vh;
}

.home__container {
  width: 100%;
  height: 100vh;
}

.container--1::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("/images-sin/image-1.jpg") no-repeat;
  display: inline-block;
  filter: grayscale(100%);
  opacity: .8;
  background-size: cover;
}

.container--2::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("/images-sin/image-2.jpeg") no-repeat;
  display: inline-block;
  filter: grayscale(100%);
  opacity: .9;
  background-size: cover;
}

.container--3::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("/images-sin/image-3.jpeg") no-repeat;
  display: inline-block;
  filter: grayscale(100%);
  opacity: .8;
  background-size: cover;
}

.container--4::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("/images-sin/image-4.jpeg") no-repeat;
  display: inline-block;
  filter: grayscale(100%);
  opacity: .8;
  background-size: cover;
}

.container__sub--1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 4rem;
  box-sizing: border-box;
}

.container__sub--2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.container__sub--3 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.container__sub--4 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.home--container {
  position: relative;
  top: 30%;
}

.home__header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0rem 2rem;
  font-size: 3.5rem;
  height: 10rem;
  color: #521751;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px #521751;
  /* text-shadow: 1px 1px #808080; */
  /* text-shadow: 1px 1px white; */
}

.home__content {
  display: flex;
  justify-content: space-around;
  width: 30rem;
  margin: auto;
  margin-top: 3rem;
}

.divLink {
  padding: .75rem 1.75rem;
  color: white;
  background-color: #521751;
  font-size: 1.1rem;
  border-radius: 4px;
  cursor: pointer;
  opacity: .9;
}

.divLink:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 7px 10px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 7px 10px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 7px 10px 2px rgba(0,0,0,0.5);
}
