html {
  font-size: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.btn {
  border: 1.5px #323330 solid;
  width: 12rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  letter-spacing: .1rem;
  text-align: center;
  background-color: white;
}

.btn:hover {
  border: 1.5px white solid;
  background-color: #323330;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
  cursor: crosshair;
}

.btn:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3)
}

.btn:focus {
  outline: none;
}

#app {
  /* border: 1px black solid; */
  height: 100vh;
  position: relative;
}

#app_container {
  height: 100%;
  background: -webkit-linear-gradient(#1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  color: #323330;
}

.btn.app_login_btn {
  position: absolute;
  left: 90%;
  top: 10%;
  transform: translate(-50%, -50%);
}

#app_header_container {
  /* border: 1px black solid; */
  position: absolute;
  text-transform: uppercase;
  line-height: 5rem;
  text-align: center;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#app_header_main {
  /* border: 1px black solid; */
  font-size: 2rem;
  letter-spacing: 2.5rem;
  animation: moveInBottom 1s ease-out .5s;
  animation-fill-mode: backwards;
}

#app_header_sub {
  /* border: 1px black solid; */
  font: Serif;
  display: block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2.25rem;
  display: flex;
}
.Title {
  font-family: serif;
}

.lowercase {
  text-transform: lowercase;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.spin {
  animation: spin .6s linear;
  animation-fill-mode: backwards;
}

.spin:nth-child(2) {
  animation-name: spin;
  animation-delay: .1s;
  animation-fill-mode: backwards;
}

.spin:nth-child(3) {
  animation-name: spin;
  animation-delay: .2s;
  animation-fill-mode: backwards;
}

.spin:nth-child(4) {
  animation-name: spin;
  animation-delay: .3s;
  animation-fill-mode: backwards;
}

.spin:nth-child(5) {
  animation-name: spin;
  animation-delay: .4s;
  animation-fill-mode: backwards;
}

.spin:nth-child(6) {
  animation-name: spin;
  animation-delay: .5s;
  animation-fill-mode: backwards;
}

.spin:nth-child(7) {
  animation-name: spin;
  animation-delay: .6s;
  animation-fill-mode: backwards;
}

.spin:nth-child(8) {
  animation-name: spin;
  animation-delay: .7s;
  animation-fill-mode: backwards;
}

.spin:nth-child(9) {
  animation-name: spin;
  animation-delay: .8s;
  animation-fill-mode: backwards;
}

.spin:nth-child(10) {
  animation-name: spin;
  animation-delay: .9s;
  animation-fill-mode: backwards;
}

@keyframes spin {
    from {
      opacity: 0;
      transform:rotate(0deg);
    }
    to {
      opacity: 1;
      transform:rotate(360deg);
    }
}

#app_btns_container {
  display: 1px black solid;
  position: absolute;
  left: 50%;
  top: 65%;
  width: 45%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
}

#login_background {
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: .8;
}
